@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Aleo:wght@100..900&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
	--color-*: initial;

	--color-mocha-rosewater: #f5e0dc;
	--color-mocha-flamingo: #f2cdcd;
	--color-mocha-pink: #f5c2e7;
	--color-mocha-mauve: #cba6f7;
	--color-mocha-red: #f38ba8;
	--color-mocha-maroon: #eba0ac;
	--color-mocha-peach: #fab387;
	--color-mocha-yellow: #f9e2af;
	--color-mocha-green: #a6e3a1;
	--color-mocha-teal: #94e2d5;
	--color-mocha-sky: #89dceb;
	--color-mocha-sapphire: #74c7ec;
	--color-mocha-blue: #89b4fa;
	--color-mocha-lavender: #b4befe;
	--color-mocha-text: #cdd6f4;
	--color-mocha-subtext-1: #bac2de;
	--color-mocha-subtext-0: #a6adc8;
	--color-mocha-overlay-2: #9399b2;
	--color-mocha-overlay-1: #7f849c;
	--color-mocha-overlay-0: #6c7086;
	--color-mocha-surface-2: #585b70;
	--color-mocha-surface-1: #45475a;
	--color-mocha-surface-0: #313244;
	--color-mocha-base: #1e1e2e;
	--color-mocha-mantle: #181825;
	--color-mocha-crust: #11111b;

	--font-body: 'Aleo', 'serif';
	--font-decor: 'Montserrat', 'sans-serif';
}

@theme inline {
	--color-neutral: var(--color-mocha-text);
	--color-subtext: var(--color-mocha-subtext-0);
	--color-subtext-light: var(--color-mocha-subtext-1);
	--color-subtle: var(--color-mocha-overlay-1);

	--color-link: var(--color-mocha-blue);
	--color-success: var(--color-mocha-green);
	--color-warning: var(--color-mocha-yellow);
	--color-error: var(--color-mocha-red);

	--color-based: var(--color-mocha-base);
	--color-based-dark: var(--color-mocha-mantle);
	--color-based-darker: var(--color-mocha-crust);

	--color-surface: var(--color-mocha-surface-0);
	--color-surface-light: var(--color-mocha-surface-1);
	--color-surface-lighter: var(--color-mocha-surface-2);

	--color-overlay: var(--color-mocha-overlay-0);
	--color-overlay-light: var(--color-mocha-overlay-1);
	--color-overlay-lighter: var(--color-mocha-overlay-2);

	--color-cursor: var(--color-mocha-rosewater);
	--color-selection-background: rgb(from var(--color-mocha-overlay-2) r g b / 0.2);
}

body {
	@apply bg-based text-neutral;
}

article {
	@apply space-y-4 leading-relaxed font-light tracking-wide;

	& a {
		@apply text-link underline;
	}

	& a,
	strong {
		@apply font-medium;
	}

	& h1 {
		@apply text-2xl font-bold md:text-3xl;
	}

	& h2 {
		@apply text-xl font-semibold md:text-2xl;
	}

	& h3 {
		@apply text-lg font-medium md:text-xl;
	}

	& footer {
		@apply text-subtle mt-12 flex w-full justify-end text-sm;
	}
}
